@media screen and (min-width:900px) and (max-width:1300px) {
    article {
        left: 35%;
        width: 65%;
        padding-right: 80px;
    }

    footer {
        height: 100vh;
        width: 80px;
        padding-bottom: 20px;
        background: #373b40;
        border-left: 1px solid #585d65;
    }

    .main-image {
        width: 35%;
    }

    .main-name {
        left: calc(38% - 175px);
    }
}

@media screen and (max-width:900px) {
    header {
        display: none;
    }

    article {
        left: 0;
        width: 100%;
        top: 0px;
        margin-top: 125px;
        padding-right: 0;
    }

    article section:first-of-type {
        position: relative;
        z-index: 90;
        text-align: center;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        position: relative;
        bottom: 0;
        height: 100px;
        width: 100%;
        padding-bottom: 0;
        border-left: none;
        border-top: 1px solid #585d65;
    }

    .main-image {
        position: relative;
        height: 500px;
        width: 100%;
    }

    .main-name {
        left: calc(50% - 175px);
        top: 325px;
    }

    .section-patch {
        display: none;
    }

    .footer-facebook, .footer-instagram, .footer-telegram {
        padding: 25px 25px;
        margin: 8px;
    }

    .main-burger-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 30px;
        right:30px;
        height: 30px;
        width: 30px;
        z-index: 100;
    }
    
    .main-burger-btn > span,
    .main-burger-btn > span::before,
    .main-burger-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
      transition-duration: .25s;
    }
    
    .main-burger-btn > span::before {
        content: '';
        top: -10px;
    }
    
    .main-burger-btn > span::after {
        content: '';
        top: 10px;
    }
    
    .main-burger-cont{
        position: absolute;
        top: -100vh;
        height: 100vh;
        width: 100vw;
        min-width: 500px;
        z-index: 95;
        margin: 0;
        padding: 40% calc(50% - 110px);
        list-style: none;
        background-color: #373b40;
        transition-duration: .25s;
    }
    
    .main-burger-cont-elem {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        transition-duration: .25s;
    }
    
    .main-burger-cont-elem:hover {
        background-color: #CFD8DC;
        color: #373b40;
    }
    
    .main-input {
        padding: 0;
        margin: 0;
        border: none;
        height: 0;
    }
    
    #main-toggle{
        opacity: 0;
    }
    
    #main-toggle:checked ~ .main-burger-btn > span{
        transform: rotate(45deg);
    }
    
    #main-toggle:checked ~ .main-burger-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    
    #main-toggle:checked ~ .main-burger-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    #main-toggle:checked ~ .main-burger-cont{
        visibility: visible;
        top: 0;
    }

    .none {
        display: none;
    }

    .section-wrapper {
        display: block !important;
        position: relative;
    }

    .section-slider {
        position: relative;
        overflow: hidden;
        height: 230px;
    }

    .section-wrapper > input {
        display: none;
    }

    .section-slide {
	    position: absolute;
        z-index: 0;
        width: 100%;
        height: 82%;
        background: #373b40;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    }

    .section-wrapper .section-controls {
        position: absolute;
        bottom: 0;
        left: calc(50% - 50px);
    }
    
    .section-wrapper label {
        display: inline-block;
        position: relative;
        height: 8px;
        width: 8px;
        margin: 0px 12px;
        border-radius: 50%;
        transition: color ease-in-out .5s;
    }
    
    .section-wrapper label:after {
        display: block;
        position: absolute;
        height: 12px;
        width: 12px;
        left: -4px;
        top: -4px;
        content: " ";
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .section-wrapper label:hover, 
    #slide1:checked ~ .section-controls label:nth-of-type(1),
    #slide2:checked ~ .section-controls label:nth-of-type(2),
    #slide3:checked ~ .section-controls label:nth-of-type(3) {
	background: #fff;
    }

    #slide1:checked ~ .section-slider > .slide1,
    #slide2:checked ~ .section-slider > .slide2,
    #slide3:checked ~ .section-slider > .slide3 {
	z-index: 1;
    opacity: 1;
}
}

@media screen and (max-width:500px) {
    .main-name {
        left: 75px;
    }
}